services:

  backend:
    build:
      context: ./sao_chatbot_backend
      dockerfile: Dockerfile
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    restart: unless-stopped
    env_file:
      - ./.env
      - ./sao_chatbot_backend/.env
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
    depends_on:
      - db
    networks:
      - app-net

  frontend:
    build:
      context: ./sao_chatbot_frontend
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_RAG_API_URL=http://localhost:${BACKEND_PORT}
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    restart: unless-stopped
    env_file:
      - ./sao_chatbot_frontend/.env.production
    depends_on:
      - backend
    networks:
      - app-net

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-net

volumes:
  db-data:
    driver: local

networks:
  app-net:
    driver: bridge